{% extends "base.html" %}

{% block content %}

<!-- jobapplication_list.html content starts here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left text-center">
            <h1 class="fw-bold mb-4">Job Applications</h1>
        </div>
    </div>
    <div class="row">

        <!-- Job Application Entries Column -->
        <div class="col-12 left">
            <div class="row">
                {% for application in jobapplication_list %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm border-0">
                        <div class="card-body">
                            <h5 class="card-title fw-bold text-primary">{{ application.job_title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ application.company }}</h6>
                            <hr />
                            <p class="card-text">
                                <strong>Status:</strong>
                                <span class="badge bg-info text-dark">{{ application.status }}</span>
                            </p>
                            <p class="card-text text-muted h6">
                                <small>Applied on: {{ application.application_date }}</small>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% empty %}
                <div class="col-12 text-center">
                    <p class="text-muted">No job applications tracked yet.</p>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Pagination controls -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- jobapplication_list.html content ends here -->
{% endblock %}